.vagrant
.idea
hyper/deps
hyper/.erlang.mk
frontend-react/node_modules/
hyper/ebin
hyper/hyper.d
hyper/.hyper.plt
hyper/Mnesia*
hyper/xrefr
hyper/logs/erlang.log*
hyper/logs/run_erl.log*
hyper/priv/static/photos/*.*
.DS_Store
