.social{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 5px;
  font-size: 35px;
}
.social a {
  text-decoration: none;
  font-size: 17px;
  color: black;
}
.fa {
  padding: 10px;
}
