.auth-bg {
	background: url("img/main33.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	overflow: hidden;
	height: 100vh;
	width: 100%;
}
.container{
  position: absolute;
  top: 0;
  left: 70px;
  right: 0;
  bottom: 50;
  margin: auto;
  width: 230px;
  height: 250px;
  background-color: rgb(10, 0, 5, 0.1);
  border-radius: 5px;
  padding: 10px;
}
.container-reg{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 90px;
  margin: auto;
  width: 230px;
  height: 400px;
  background-color: rgb(10, 20, 50, 0.3);
  border-radius: 5px;
  padding: 10px;
}
