.auth-bg {
	background: url("img/main33.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	overflow: hidden;
	height: 100vh;
	width: 100%;
}
.container{
  position: absolute;
  top: 0;
  left: 70px;
  right: 0;
  bottom: 50;
  margin: auto;
  width: 230px;
  height: 250px;
  background-color: rgb(10, 0, 5, 0.1);
  border-radius: 5px;
  padding: 10px;
}
.container-reg{
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color:white;
  border-radius: 5px;
  border-radius: 4px;
  padding: 15px;
}
.container-log{
  position: absolute;
  top: 0px;
  left: 130px;
  right: 0px;
  bottom: 170px;
  margin: auto;
  width: 300px;
  height: 255px;
  background-color: rgb(20, 30, 60, 0.5);
  border-radius: 5px;
  color: white;
  border: 1px solid #28a6a8;
}
.btn-small{
  left: 125px;
  margin: 5px;
}
.social{
  margin: 0 auto;
  margin-top: 5px;
  font-size: 35px;
}
.social a {
  text-decoration: none;
  font-size: 17px;
  color: black;
}
.fa {
  padding: 10px;
}
#logo {
  font-family: 'Open Sans', sans-serif;
  color: #154;
  text-decoration: none;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: -1px;
  line-height: 1;
  text-shadow: #EDEDED 3px -2px 0;
  position: relative;
}
#logo:after {
  content:"dreamdealer";
  position: absolute;
  left: 8px;
  top: 32px;
}
#logo:after {
  /*background: url(https://subtlepatterns.com/patterns/crossed_stripes.png) repeat;*/
  background-image: -webkit-linear-gradient(left top, transparent 0%, transparent 25%, #555 25%, #555 50%, transparent 50%, transparent 75%, #555 75%);
  background-size: 4px 4px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -15;
  display: block;
  text-shadow: none;
}
